<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngularJS.Core" version="1.4.7" targetFramework="net46" />
  <package id="angularjs.TypeScript.DefinitelyTyped" version="4.2.7" targetFramework="net46" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="2.3.1" targetFramework="net46" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net46" developmentDependency="true" />
</packages>